body {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin: 10px 0 0 0;
}
header {
  width: 30%;
  text-align: center;
}
h1,
h2 {
  margin: 0;
}
h2 {
  font-size: 100%;
}
h1,
header input[type="text"] {
  font-size: 150%;
}
header input[type="submit"] {
  background-color: black;
  color: white;
  margin-left: 10px;
}
.hidden {
  display: none;
}
.rcorners {
  border-radius: 15px;
  padding: 10px;
  filter: alpha(opacity=60);
  opacity: 0.6;
  margin: 10px;
  background-color: white;
}
.container {
  width: 40%;
}
.container form {
  width: 100%;
  padding: 0 10px 0 0;
}
.container input {
  padding: 5px 3px 2px 3px;
  font-size: 120%;
  width: 98%;
}
ul#todo-list {
  margin: 0px;
  padding: 15px 10px 0 5px;
  list-style: none;
  height: 85%;
  overflow-y: auto;
}
ul#todo-list li {
  border-bottom: 1px gray solid;
  margin-bottom: 10px;
}
ul#todo-list li:before {
  content: ">";
  vertical-align: middle;
  padding: 0px 5px 6px 0px;
}
